<h1>  Congratulations on listing your piece of shit goods!! </h1>
  
  <p> <%= @post.description  %> </p>
  <p> <%= @post.location  %> </p>
  <p> <%= @post.price  %> </p>
  <p> <%= @post.phone  %> </p>

  <a href=<%= "/post/#{@post.id}/edit" %> >EDIT SHIT</a>

  <a href= "/posts" >THE BIG LIST OF SHIT</a>
